<div class="container">
	<div class="textthis">
	<h2 class="well">Account Login</h2>
	</div>
	<div class="col-xs-12 well">
		<div class="row">
			<form method="post" action="/loginuser">
  				<div class="col-xs-12">
  					<div class="form-group">
						<div class="textthis">
    					<label>Email</label>
						</div>
    					<input type="text" class="form-control" name="username" placeholder="Enter Email Address Here..." required>
  					</div>
  					<div class="form-group">
						<div class="textthis">
    					<label>Password</label>
						</div>
    					<input type="password" class="form-control" name="password" placeholder="Enter Password Here..." required>
  					</div>
  					<button type="submit" class="button"><span>Login</span></button>  					
  				</div>
			</form>			
		</div>
	</div>
</div>
<br></br>